<div class="container">

  <!-- Trigger the modal with a button -->
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#passwordModal"></button> -->

  <!-- Modal -->
  <div class="modal fade" id="passwordModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="onCancelClick()">&times;</button>
          <h4 class="modal-title">{{'Change Password' | translate}}</h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="changePasswordForm">
            <div class="form-group">
              <label for="exampleInputEmail1">{{'Old Password' | translate}} <span class="text-red">*</span></label>
              <input type="password" class="form-control" formControlName="oldPassword" id="exampleInputEmail1">
              <div
                *ngIf="!changePasswordForm.controls.oldPassword.valid && changePasswordForm.controls.oldPassword.touched"
                class="text-red">
                <div *ngIf="changePasswordForm.get('oldPassword').errors.required">
                  {{'Old Password is required' | translate}}
                </div>

              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">{{'New Password' | translate}} <span class="text-red">*</span></label>
              <input type="password" class="form-control" formControlName="newPassword" id="exampleInputEmail1">
              <div
                *ngIf="!changePasswordForm.controls.newPassword.valid && changePasswordForm.controls.newPassword.touched"
                class="text-red">
                <div *ngIf="changePasswordForm.get('newPassword').errors.required">
                  {{'New Password is required' | translate}}
                </div>
                <div *ngIf="changePasswordForm.errors?.minlength">{{'Minimum of 6 characters' | translate}}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">{{'Confirm Password' | translate}} <span class="text-red">*</span></label>
              <input type="password" class="form-control" formControlName="confirmPassword" id="exampleInputEmail1">
              <div
                *ngIf="!changePasswordForm.controls.confirmPassword.valid && changePasswordForm.controls.confirmPassword.touched"
                class="text-red">
                <div *ngIf="changePasswordForm.get('confirmPassword').errors.required">
                  {{'Confirm Password is required' | translate}}</div>
              </div>
              <div class="text-red" *ngIf="changePasswordForm.controls.confirmPassword.errors?.mustMatch">{{'Password not
                      match' | translate}}</div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <div class="modal-footer">
            <div class="row pull-right">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onCancelClick()"
               >{{'Cancel' | translate}}</button>&nbsp;
              <button type="button" class="btn btn-success" [disabled]="!changePasswordForm.valid"
                (click)="changePasswordClick()">{{'Save' | translate}}</button>&nbsp;&nbsp;
            </div>
          </div>
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>

    </div>
  </div>

</div>